{% extends 'chant/base.html' %}
{% block content %}
<div class="card-container">
    <div class="row">
        {% for category in categories %}
            <div class="col-3"> <!-- 4 columns per row -->
                <a href="{% url 'song_list' category_slug=category.slug %}">
                {% if category.image %}
                    <div class="card" style="background-image: url('{{ category.image.url }}');
                    background-size: cover; background-position: center; background-repeat: no-repeat;">
                {% else %}
                    <div class="card"> 
                {% endif %}
                        <h1>{{ category }}</h1>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row"> <!-- Start a new row after every 4th item, but not after the last item -->
            {% endif %}
        {% endfor %}
    </div>
</div>

<style>
    .card {
        background-image: url('{{ category.image_category.url }}');
        background-size: cover;  /* Ensures the image covers the card */
        background-position: center;  /* Centers the image */
        background-repeat: no-repeat;  /* Prevents tiling */
    }
</style>

{% endblock content %}