{% extends 'chant/base.html' %}
{% block content %}
    <section class="songs-lists-section">
        <h1>{{ category.name }} {{ selected_language }}</h1>
    <ul class="songs-list">
        <form id="languageForm">
            <label>
                <input type="radio" name="choice" value="Créole" {% if selected_language == "Créole" %}checked{% endif %}> Créole
            </label>
            
            <label>
                <input type="radio" name="choice" value="Français" {% if selected_language == "Français" %}checked{% endif %}> Français
            </label>
            
            <label>
                <input type="radio" name="choice" value="English" {% if selected_language == "English" %}checked{% endif %}> English
            </label>
        </form>

        {% for song in songs %}
            <li>
                <a href="{% url 'song_detail' song.category.slug song.slug %}" 
                   style="display: block; padding: 10px; background-color: #007bff; 
                          color: white; text-decoration: none; border-radius: 5px; margin: 5px 0;">
                    {{song.category_number}} — {{ song.title }}
                </a>
            </li>
        {% endfor %}
        <a href="{% url 'chant-home' %}">
            <button class="back-home-btn">Back</button>
        </a>
    </ul>
    </section>

    <style>
        .songs-lists-section{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        .songs-list{
            list-style-type: none;
            align-items: center;
            justify-content: center;
        }
        .songs-list li{
            width: 100%;
        }
    </style>
<script>
    document.querySelectorAll('input[name="choice"]').forEach(radio => {
        radio.addEventListener('change', function() {
            window.location.href = window.location.pathname + '?choice=' + encodeURIComponent(this.value);
        });
    });
</script>
{% endblock %}
