{% extends 'chant/base.html' %}
{% block content %}
<div class="lyrics-container">
    <h1 class="song-title">{{ song.title }}</h1>
    {% for section in song.sections.all %}
        {% if section.section_type == 'chorus' %}
            <h3 class="chorus-title">Kè:</h3>
        {% else %}
            <h3 class="verse-title">Verse </h3>
        {% endif %}

        <div class="verse">
            {% for line in section.lines.all %}
                <p class="line">{{ line.content }}<br></p>
            {% endfor %}
        </div>
    {% endfor %}
    

</div>
    {% endblock%}


<style>
    /* Apply a full-page centering style if needed */
body, html {
    height: 100%;
    margin: 0;
}

.lyrics-container {
    width: 60%;
    max-width: 900px; /* Limit the max width if necessary */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Make sure verse and chorus sections are centered */
.verse-title,
.chorus-title {
    font-weight: var(--font-weight-medium);
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.verse, .chorus {
    font-style: italic;
    margin: 5px 0;
    text-align: center;
}

.line {
    display: block;
    margin-bottom: 0px;
    text-align: center;
}


</style>