{% extends 'chant/base.html' %}
<body>
    {% block content %}
    <div class="lyrics-container">
        <h1>{{ song.title }}</h1>
        {% for section in song.sections.all %}
            {% if section.section_type == 'chorus' %}
                <h3 class="chorus-title">Kè:</h3>
            {% else %}
                <h3 class="verse-title">Verse </h3>
            {% endif %}

            <div class="verse">
                {% for line in section.lines.all %}
                    <p class="line">{{ line.content }}<br></p>
                {% endfor %}
            </div>
        {% endfor %}
        

    </div>
    {% endblock%}
</body>


<style>
   

/* Ensure the lyrics container is centered */
.lyrics-container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center everything inside the container */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

/* Ensuring the headings are centered */
h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Ensure verses and lines are centered */
.verse-title,
.chorus-title {
    font-weight: var(--font-weight-medium);
    margin-top: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.verse, .chorus {
    font-style: italic;
    margin: 5px 0;
    text-align: center;
}

.line {
    display: block;
    margin-bottom: 0px;
    text-align: center; /* Center the lines */
}

.verse-container {
    margin-bottom: 30px;
}


</style>