{% extends "chant/base.html" %}
{% block content %}

{% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="profile-section">

        <div class="profile-header">

            {% if user.is_authenticated and user == profile.user %}
                <div class="user-profile">
                    <form class="profile-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="profile-details">
                            <div class="profile-image-container">
                                <img class="profile-image" src="{{ profile.image.url }}" alt="Profile Picture">
                                <label for="id_image" class="camera-icon">
                                    <i class='bx bxs-camera'></i>
                                </label>
                                {{ p_form.image }}
                            </div>
                            
                        </div>
                        <div class="user-info" id="uInfo">
                            <h2 class="user-username">{{ profile.user.username }}</h2>
                            <p class="joined-date"> Joined on: {{ profile.user.date_joined | date:'M d, Y' }}</p>
                        </div>

                        <fieldset class="profile-fieldset">
                            <legend class="profile-legend">Profile Info</legend>
                            <div class="form-group">
                                {{ u_form.username.label_tag }}
                                {{ u_form.username }}
                            </div>
                            <div class="form-group">
                                {{ u_form.email.label_tag }}
                                {{ u_form.email }}
                            </div>

                            <button type="submit" class="btn-update">Update</button>
                        </fieldset>
                    </form>
                </div>
            {% else %}
                <div class="profile-details">
                    <div class="profile-image-container">
                        <img class="profile-image" src="{{ profile.image.url }}" alt="Profile Picture">

                    </div>
                </div>
                <div class="user-info" id="uInfo">
                    <p class="user-username">{{ profile.user.username }}</p>
                    <p class="joined-date"> Joined on: {{ profile.user.date_joined | date:'M d, Y' }}</p>
                </div>

                
            {% endif %}
        </div>
    </div>
{% endblock content %}